:root{
    --color-brand:#4D5AE5;
    --color-pressed-state: #404BBF;
    --color-primary:#2E2F42;
    --color-primari-light: #FFFFFF;
    --color-secondary: #434455;
    --color-secondary-light: #E7E9FC;

    --background-color-dark: #2E2F42;
    --background-color-gray: #F4F4FD;
    --background-color-light: #E5E5E5;
    --background-color-white: #FFFFFF;
    --background-color-hero: #2E2F42 ;
    }

/*Body*/

body{
    color: var(--color-primary);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    }
ul{
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    
}
a{
    text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6{
    margin-top: 0;
}
img{
    display: block;
}
.container {
    width: 100%;
    max-width: 1128px;
    margin: 0 auto;
    
    justify-content: center;
    
}

/*Header*/

.header-container{
display: flex;
align-items: center;
border-bottom: 1px solid var(--color-secondary-light);
padding-top: 24px;
padding-bottom: 24px;
}

.nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.header{
    background-color: var(--background-color-white);
}
.logo{
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.34;
    text-transform: uppercase;
    color: var(--color-primary);
    letter-spacing: 0.03em;
    margin-right: 76px;
    max-width: 71px ;
}
.logo-web{
    color: var(--color-brand);
    max-width: 44px;
}
.nav-links{
display: flex;
gap: 40px;
}
.adresses{
    display: flex;
    gap: 40px;
}


.nav-links .nav-link.current{
    color: var(--color-pressed-state);
}
.nav-link{
    color: var(--color-primary);
    letter-spacing: 0.02em;
    font-weight: 500;
    accent-color: var(--color-pressed-state);
    max-width: 66px;
   
}
.nav-link:hover,
.nav-link:focus {
    color: var(--color-pressed-state)
}
.address{
    color: var(--color-secondary);
    font-weight: 400;
    letter-spacing: 0.02em;
    font-style: normal;
    max-width: 152px;
    

}
.address:hover,
.address:focus{
    color: var(--color-pressed-state)
}

/*Hero*/
.hero-container{
   
       display: flex;
       flex-direction: column;
       justify-content: center;
    align-items: center;
    padding:188px ;
 }
.hero{
    background-color: var(--background-color-hero);
    }
.hero-title{
    color: var(--color-primari-light);
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;
    text-align: center;
       
    }

.hero-button{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-primari-light);
    background-color: var(--color-brand);
    cursor: pointer;
    letter-spacing: 0.04em;
    max-width: 169px;
    padding:  16px 32px;
    max-width: 196px;
    border: 0;
    border-radius: 4px;
    


}
.hero-button:hover,
.hero-button:focus {
    background-color: var(--color-pressed-state);
}


/*About*/
.about-conteiner{
    padding-top: 120px;
    padding-bottom: 120px;
   
}

.about-list{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    
}
.about-title-main{
    display: none;
}
.about-elements{
    flex-basis: calc((100% - 72px) / 4);
    
}
.about-title{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    

}

.about-text{
    color: var(--color-secondary);
    letter-spacing: 0.02em;
    max-width: 264px;
    
}

/*What are we doing*/

.we-doing-title{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.we-doing-list{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.we-doing-img{
    flex-basis: calc((100% - 48px) / 3);
}
.we-doing-container{
    padding-bottom: 120px;
}
/*Team*/
.team-container{
        justify-content: center;
        
}
.team{
    background-color: var(--background-color-gray);
       }
.team-member{
    background-color: var(--background-color-white);
    flex-basis: calc((100% - 72px) / 4);
}
.team-title-main{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;

}
.team-title{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
}
.team-text{
    letter-spacing: 0.02em; 
    text-align: center;
    }
    .team-container{
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
    }

    .teams-container{
            padding-bottom: 120px;
            padding-top: 120px;
    }

/*Footer*/
.footer{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--background-color-hero);
    }
.logo-studio{
    color: var(--color-primari-light);
    
}
.footer-text{
    color: var(--color-secondary-light);
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-top: 16px;
}


/*Filter*/
.portfolio-container{
    padding-top: 108px;
    padding-bottom: 120px;
}

.portfolio-title-main{
    display: none;
}
.filter-button-list{
    display: flex;
    gap: 24px;
    margin-bottom: 84px;
    justify-content: center;
}
.filter-button{
    color: var(--color-brand);
    background-color: var(--background-color-gray);
    border: 1px;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 0.04em;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid var(--color-secondary-light);
    padding: 12px 24px;
 }
        
.filter-button:hover,
.filter-button:focus {
    color: var(--color-primari-light);
    background-color: var(--color-pressed-state);
}

/*Portfolio*/

.portfolio-card{
    border-right: 1px solid var(--color-secondary-light);
    border-left: 1px solid var(--color-secondary-light);
    border-bottom: 1px solid var(--color-secondary-light);
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}
.portfolio-title{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.portfolio-text{
    letter-spacing: 0.02em;
}
.portfolio{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.portfolio-list{
    flex-basis: calc((100% - 48px) / 3);
}